<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        h1{color:white;font-size:35px;text-align:center;}
        li{color:white;font-size:20px;}
        a{text-decoration:none;font-size:20px;}
        a:link{color:red}
        a:visited{color:white}
        a:hover{color:red;text-decoration:none;}
        a:active{color:black}

    </style>
</head>
<body background="/static/res/back.jpg" style="background-size: 100% auto;opacity:1">
<h1 style="text-align:center;"><em>Hello World</em></h1>
<hr>
<br>
<ol>
    <li><a href='http://127.0.0.1:8989/99' style="">9 * 9 = 81</a></li>
    <li><a href="http://127.0.0.1:8989/form">Form</a></li>
    <li><a href='http://127.0.0.1:8989/hello' style="">Learning...</a></li>
</ol>

</body>
</html>